:root {
  --first-color: #212121;
  --secondary-color: #757575;
  --third-color: #ffffff;
  --fourth-color: #2f303a;
  --fifth-color: #f5f4fa;
  --sixth-color: #c4c4c4;
  --seven-color: #afb1b8;
  --accent-color: #2196f3;
  --hover-color: #188ce8;
  --primary-border-line-color: #ececec;
  --secondary-border-line-color: #eeeeee;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-color);
  background-color: var(--third-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.studio-dark {
  color: var(--first-color);
  display: inline-block;
}

.studio-light {
  color: var(--third-color);
  display: inline-block;
}

.btn {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.title {
  color: var(--first-color);
}

.light-title {
  color: var(--third-color);
}

.pre-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ------------header---------- */
.current {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid var(--primary-border-line-color);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-logo {
  margin-right: 93px;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-list {
  display: flex;
}
.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link.current::after {
  content: " ";
  width: 100%;
  position: absolute;
  height: 4px;
  border-radius: 2px;
  bottom: -2px;
  display: block;
  background-color: var(--accent-color);
}

.menu-link:hover,
.menu-link:focus,
.header-mail-color:hover,
.header-mail-color:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.contact-list {
  display: flex;
}

.contact-list-item:not(:last-child) {
  margin-right: 50px;
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail-icon {
  margin-right: 10px;
  fill: currentColor;
  vertical-align: middle;
  width: 16px;
  height: 12px;
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel-icon {
  margin-right: 10px;
  fill: currentColor;
  vertical-align: middle;
  width: 10px;
  height: 16px;
}
/* ----------hero----------- */
.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--sixth-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-title {
  display: flex;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-color);
  width: 696px;
  min-height: 120px;
  margin: 0px 237px 30px 237px;
}

.btn-hero {
  min-width: 200px;
  min-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--third-color);
  background-color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-hero:hover,
.btn-hero:focus {
  color: var(--third-color);
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.current {
  color: var(--accent-color);
}

/* ------------------benefit------------------------- */
.benefit-icons {
  background-color: var(--fifth-color);
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefit-icon {
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.benefit-list {
  display: flex;
}

.benefit-item {
  width: 270px;
  border: none;
  margin-left: 0px;
}

.benefit-item:not(:last-child) {
  margin-right: 30px;
}

.benefit-pre-title {
  width: 270px;
  min-height: 16px;
  margin-bottom: 10px;
}
.benefit-text {
  width: 270px;
  min-height: 75px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

/*--------------------work----------------------------*/
.work-section {
  padding-top: 0px;
}

.work-main-title {
  text-align: center;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.work-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.work-photo {
  display: block;
}
.work-item-wrap {
  position: relative;
}

.work-item-text {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-color);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  align-items: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------team---------------------------- */
.team-section {
  background-color: var(--fifth-color);
}
.team-main-title {
  text-align: center;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item-description {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--third-color);
  margin-left: 0px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-list-name {
  text-align: center;
  margin-bottom: 10px;
  align-items: center;
  display: block;
}

.team-item-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  align-items: center;
  display: block;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
}
.social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social-item:last-child {
  margin-right: 0px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: var(--third-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--seven-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  color: var(--third-color);
  background-color: var(--accent-color);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  color: var(--third-color);
}

/*-----------------------Client-------------------------*/
/*.client-section {
}*/

/*.client-container {
}*/

.client-main-title {
  text-align: center;
  margin-bottom: 50px;
}

.client-list {
  display: flex;
}

.client-item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
}

.client-item:last-child {
  margin-right: 0px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link {
  width: 170px;
  height: 92px;
  background-color: var(--third-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--seven-color);
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
  display: flex;
}

.client-item .client-link:hover,
.client-item .client-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/*---------------------portfolio main---------------- */

.filtres {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filtres-item:not(:last-child) {
  margin-right: 8px;
}

.filtres-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
  padding: 6px 22px;
  border-radius: 4px;
  display: block;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filtres-btn:hover,
.filtres-btn:focus,
.active-btn:hover,
.active-btn:focus {
  color: var(--third-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.active-btn {
  color: var(--third-color);
  background-color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-list {
  background-color: var(--third-color);
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.gallery-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-link:hover,
.gallery-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.gallery-item-description {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: var(--third-color);
  margin-left: 0px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.gallery-link:hover .gallery-picture-text,
.gallery-link:focus .gallery-picture-text {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: translateY(0);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-color);
  margin-bottom: 10px;
  display: block;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.gallery-item-wrap {
  position: relative;
  overflow: hidden;
}

.gallery-picture-text {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--third-color);
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* --------------------footer-------------------------*/
.footer {
  background-color: var(--fourth-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-left {
  margin-right: 70px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.contacts-address {
  font-style: inherit;
  flex-wrap: wrap;
}

.footer-adress-item:not(:last-child) {
  margin-bottom: 9px;
  min-width: 231px;
}

.footer-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address:hover,
:focus,
.footer-mail:hover,
:focus,
.footer-tel:hover,
:focus {
  color: var(--accent-color);
}

.footer-right {
  margin-right: 93px;
}
.footer-pre-title {
  margin-bottom: 20px;
}

.footer-list {
  display: flex;
}

.footer-social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.footer-social-item:last-child {
  margin-right: 0px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--third-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer-social-link:hover,
.footer-social-link:focus {
  color: var(--third-color);
  background-color: var(--accent-color);
}

/*-----------footer email sender-----*/

.subscribe {
  display: flex;
  margin-right: 0;
}
.subscribe-form {
}

.subscribe-form-pages {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-color);
}

.email-sender {
  display: flex;
  position: relative;
}

.subscribe-form-mail {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-mail {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--third-color);
  background: var(--fourth-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-mail:focus {
  outline: none;
  border-color: var(--accent-color);
}

.subscribe-form-button {
  display: flex;
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--third-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form-button:hover,
.subscribe-form-button:focus {
  background: var(--hover-color);
}
.submit-icon {
  fill: var(--third-color);
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
}

/*-------------Modal------------*/
.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  transition: opacity 500ms linear, visibility 500ms linear;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: var(--third-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--first-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.modal-btn:hover,
.modal-btn:focus {
  color: var(--accent-color);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
  margin-bottom: 12px;
}

.modal-form-field {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.modal-form-icon {
  display: block;
  width: 18px;
  height: 18px;
  fill: currentColor;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-form-wrapper {
  position: relative;
  margin-top: 4px;
  display: block;
  color: var(--first-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  color: var(--first-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  margin-top: 4px;
  padding: 12px 16px;
  color: var(--first-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: 1px solid var(--accent-color);
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 30px;
}

.modal-form-checkbox-label::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 1px solid var(--first-color);
  cursor: pointer;
  margin-right: 7px;
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-color: var(--accent-color);
  background-image: url(../images/icon\ check.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-origin: border-box;
  border-color: var(--accent-color);
}

.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
  outline: 1px solid var(--accent-color);
}

.policy-text {
  color: var(--accent-color);
}

.policy-text:focus {
  outline: 1px solid var(--accent-color);
}

.modal-form-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-color);
  background-color: var(--accent-color);
  align-self: center;
  padding: 10px 55px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button:hover,
.modal-form-button:focus {
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
